
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/sitemap_on.png?token=0d763c16b7535a72dd494c4556a20066');
    background: url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/sitemap_on.svg?token=91a536e2213de024f320d06151e0028c'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/sitemap_hover.png?token=3d166f5694bf2af1ec11ea547dc70d02');
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/sitemap_hover.svg?token=1bc6059167bd0404bffa27e730c0005e'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('https://d26uhratvi024l.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/sitemap_off.png?token=7d2215dc70e27618a521e37e34e341f7');
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/sitemap_off.svg?token=97ef921231816afdb03da4d5634e36e3'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/minus.gif?token=ad350a4c10f4085475220b1c69132c0f');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/plus.gif?token=028f6e679091bd00ac616c2ba2c6205a');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/page.png?token=9a4ad702a8a807e0e4331aae6fad1fc0') no-repeat center center;
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/page.svg?token=a96e454feae8072dfd05de53bac7a550') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/flow.png?token=5c44674b7a407964a930dfacf16e8ce8') no-repeat center center;
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/flow.svg?token=a17e2b307f5469f07aecf76726d5ae2b') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('https://d26uhratvi024l.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/folder_closed.png?token=470af3ed8b4695bcecf8db876111f17d') no-repeat center center;
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/folder_closed.svg?token=62804239c4c6b130ec9b5b0c526833ca') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/folder_open.png?token=db34342c5918873974cd3661eddd2775') no-repeat center center;
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/folder_open.svg?token=d92b84d1892096243cbd7f3fab198391') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/share.png?token=40b04ea33370301151e330cd719ab76d') no-repeat center center;
    background: url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/share.svg?token=853082432326e12fbecc72c3257e1eab') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/share_hover.png?token=0771c1bb577992c78f5d3e719752444f') no-repeat center center;
    background: url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/share_hover.svg?token=9dcf8f19c858704ca626e3ab187e795e') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/share_on.png?token=ff2de42ac54afb835c4299f93e6f8143') no-repeat center center;
    background: url('https://d26uhratvi024l.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/share_on.svg?token=1876bfee3e4548aab9ea8d2409fa4f87') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/views.png?token=b85ad1daa3dd3162eb245dc878543019') no-repeat center center;
    background: url('https://d26uhratvi024l.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/views.svg?token=0abaf6f04a362445669eb72c78096c40') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/views_hover.png?token=bfa3ec5d602a4083dd03a9d36a489c51') no-repeat center center;
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/views_hover.svg?token=5cebbb23cf61e583bbaff3b0238bc9a2') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/views_on.png?token=0acdc555220a39976644416ad92bb493') no-repeat center center;
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/views_on.svg?token=017a5234d26c943745519f8153ae2675') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/hotspots.png?token=745d10376f0f21a236f5b24b319b645b') no-repeat center center;
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/hotspots.svg?token=c2d710a5741a20a65913c3ab9e1e35f1') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/hotspots_hover.png?token=43c1062c2316cb4e7eac60d83044ea3b') no-repeat center center;
    background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/hotspots_hover.svg?token=9d07aa29a6775616916fbe972dd7c3f1') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d26uhratvi024l.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/hotspots_on.png?token=9a3f0de87c5b60ee790899a37f4629de') no-repeat center center;
    background: url('https://d2t44wh9rnwl5y.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/hotspots_on.svg?token=597738e7a76ec9a37f2ebc5f7ac6710c') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('https://dxlfb468n8ekd.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/229_variables_16.png?token=ebb56fe18c2adef23edfcf632bbe2ef9') no-repeat center center;
}*/

#searchButton {
    background: url('https://d26uhratvi024l.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/232_search_16.png?token=d35ca0f75cb75a9c017af37724cc7bdf') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('https://d2v8ggac1o0f6z.cloudfront.net/gsc/G92R3P/77/02/2b/77022b1ca0df4ddf9fcdc39e2b9833ba/plugins/sitemap/styles/images/adaptivecheck.png?token=a936f928d9fc8a0a3722184c5b4446ae') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}