<div class="csoa-welcome">
  <div class="csoa-welcome__header">
    <h2>Vítejte ve sjednávání účtu on-line</h2>
  </div>

  <div class="csoa-welcome__subheader">
    <strong>Co budete potřebovat?</strong>
  </div>

  <div class="csoa-welcome__content grid">

    <div class="csoa-welcome__teaser csoa-welcome__teaser--1 sm-12of12 md-6of12 csas-flex-sm">
      <div class="csoa-welcome__teaser-img sm-2of12">
        <img src="/assets/img/_csao-teaser-1.png">
      </div>
      <div class="csoa-welcome__teaser-text sm-10of12">
        Připravte si <strong>platný občanský průkaz</strong>, abychom si mohli ověřit, že jste občan České republiky.
        <br/>
        Dále si najděte <strong>druhý doklad totožnosti</strong>, např. řidičský průkaz, nebo cestovní pas.
      </div>
    </div>

    <div class="csoa-welcome__teaser csoa-welcome__teaser--2 sm-12of12 md-6of12 csas-flex-sm">
      <div class="csoa-welcome__teaser-img sm-2of12">
        <img src="/assets/img/_csao-teaser-2.png">
      </div>
      <div class="csoa-welcome__teaser-text sm-10of12">
        Během sjednávání nového účtu obdržíte <strong>okamžitě</strong> na Váš současný účet platbu s
        <strong>variabilním symbolem</strong>, kterým podepíšete smluvní dokumentaci.
      </div>
    </div>

    <div class="csoa-welcome__teaser csoa-welcome__teaser--3 sm-12of12 md-6of12 csas-flex-sm">
      <div class="csoa-welcome__teaser-img sm-2of12">
        <img src="/assets/img/_csao-teaser-3.png">
      </div>
      <div class="csoa-welcome__teaser-text sm-10of12">
        Pak už jen stačí mít po ruce <strong>mobilní telefon</strong>, přístup ke svému <strong>e-mailu</strong>
        a přístup ke svému stávajícímu <strong>internetovému bankovnictví</strong>.
      </div>
    </div>

    <div class="csoa-welcome__teaser csoa-welcome__teaser--4 sm-12of12 md-6of12 csas-flex-sm">
      <div class="csoa-welcome__teaser-img sm-2of12">
        <img src="/assets/img/_csao-teaser-4.png">
      </div>
      <div class="csoa-welcome__teaser-text sm-10of12">
        Abyste naši platbu okamžitě obdrželi, musíte mít zřízený <strong>účet u jedné z následujících</strong> bank:
        ČSOB, Komerční banka, Moneta, Raiffeisenbank, Equa, Unicredit bank, Era.
      </div>
    </div>
  </div>

  <div class="csoa-welcome__navigation">
    <button class="csas-click csas-click--red" (click)="next()">Button</button>
  </div>

  <pre>
    {{log}}
  </pre>

</div>
